/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    color: black;
}

.container {
    margin-top: 5%;
    display: flex;
    width: 100%;
}

.inputbox {
    margin: auto;
    width: 30%
}

.transactioncontainter {
    width: 80%;
    margin: 0 auto;
}