<div style="height:30px">&nbsp;</div>
<div class="transactionformscontainter">
  <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
    <h3>{{pageTitle}}</h3>
  </div>
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div fxlayout="row" fxlayout.sm="column" fxlayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="start-stretch"
      fxLayoutWrap style="flex-flow: row wrap">
      <mat-form-field appearance="outline" fxflex="30%" fxflex.sm="100%" fxflex.xs="100%">
        <input matInput [matDatepicker]="picker" placeholder="Transaction Date" formControlName="transdate"
          formGroupName="transdate">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" fxflex="0 1 45%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%">
        <mat-label>Transaction Amount</mat-label>
        <input matInput formControlName="itemprice" formGroupName="itemprice">
      </mat-form-field>
      <mat-form-field appearance="outline" fxflex="0 1 19%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%">
        <mat-label>UPC</mat-label>
        <input matInput formControlName="upc" (keyup)="upcSearch$.next($event.target.value)" formGroupName="upc"
          maxlength="12">
      </mat-form-field>


      <mat-form-field appearance="outline" style="width:50%" fxflex="0 1 100%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%">
        <mat-label>Store</mat-label>
        <input matInput formControlName="store" formGroupName="store">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width:89%" fxflex="0 1 100%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%">
        <mat-label>Item Description</mat-label>
        <textarea matInput formControlName="itemdescription" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          formGroupName="itemdescription" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" cols="10"></textarea>
      </mat-form-field>
    </div>

    <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch ">
      <div fxFlex=90% fxLayoutAlign="end stretch">
        <button mat-raised-button (submit)="newTransaction('/newtransaction','budgetDetails?._id')" color="primary"
          [disabled]="!transactionForm.valid">Submit</button>&nbsp;
        <button mat-raised-button (click)="buttonAction()" [disabled]="!transactionForm.valid">{{buttonName}}</button>&nbsp;
        <button mat-raised-button (mousedown)="goBack()">Back</button>
      </div>
    </div>
    <div style="height: 25px">&nbsp;</div>
    <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start center">
      <div class="errorMsg" fxflex="0 1 100%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%" *ngIf="upc.errors?.minlength && upc.touched">UPC
        must be 12 characters.</div>
    </div>
    <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
      <div class="errorMsg" fxflex="0 1 100%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%" *ngIf="upc.errors?.required && upc.touched">UPC
        is required.</div>
    </div>
    <div class="errorMsg" fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
      <div fxflex="0 1 100%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%" *ngIf="upc.errors?.upcnum && upc.dirty">Please
        enter a valid UPC</div>
    </div>
    <div class="errorMsg" fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
      <div fxflex="0 1 100%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%" *ngIf="itemprice.errors?.upcnum && itemprice.dirty">Please
        enter a item price</div>
    </div>
  </form>
</div>
