<div style="height:30px">&nbsp;</div>
<form class="example-form" [formGroup]="searchProduct">
  <div class="transactioncontainter">
    <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
      <div>
        <h3>Search By UPC:</h3>
      </div>
      <div fxFlex="3 3 calc(10em +10px)" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%">
        <mat-form-field>
          <input matInput formControlName="upc" (keyup)="upcSearch$.next($event.target.value)" formGroupName="upc"
            maxlength="12">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch ">
    <div fxFlex=90% fxLayoutAlign="end stretch">
      <button mat-raised-button (mousedown)="addProduc()">Add Product</button>&nbsp;
      <button mat-raised-button (mousedown)="showAll()">Show All</button>
    </div>
  </div>
  <div class="transactioncontainter">
    <hr style="height:3px;border:none;color:#333;background-color:#333;">
    <div style="height:20px"></div>
  </div>
  <div class="transactioncontainter" *ngIf="productFound">
    <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
      <div style="font-weight: bold">Item UPC:</div>
      <div fxFlex="3 3 calc(10em +10px)" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%">{{product?.UPC}}</div>
    </div>
    <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
      <div style="font-weight: bold">Item Description:</div>
      <div fxFlex="3 3 calc(10em +10px)" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%">{{product?.ItemDescription}}</div>
    </div>
    <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
      <div style="font-weight: bold">Item Price:</div>
      <div fxFlex="3 3 calc(10em +10px)" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%">{{product?.ItemPrice|currency:'USD':'symbol':'1.2-2'}}</div>
    </div>
  </div>
  <div class="transactioncontainter" *ngIf="showMsg" style="font-weight:bold">No product found</div>
</form>
