.grid-container {
    margin: auto 10%;
    margin-top: 2%;
    margin-bottom: auto;
    display: block;
    width: 65%;
}

.grid-container-data {
    margin-top: 2%;
    width: 100%;
    display: flex;
  
}

.example-container {
    height: 20px;
    overflow: auto;
    margin: auto;
    width: 50%;
}

table {
    width: 100%;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #c2185b;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

tr.example-detail-row {
    height: 0;
}


table {
    width: 100%;
}



tr.example-element-row:not(.example-expanded-row):hover {
    background: gray;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

tr.example-detail-row {
    height: 0;
}

.containter {
display: flex;
width: 90%;
margin: auto;
}

.header {
width: 95%;
margin: 0 auto;
}

.example-container {
height: 20px;
overflow: auto;
margin: auto;
width: 50%;
}
