<form [formGroup]="productForm" (ngSubmit)="submit(productForm)">

  <h1 mat-dialog-title style="background-color:#673ab7;color:white">&nbsp;{{dialogTitle}}</h1>
  <div class="modalcontainer" style="height: 100%">

    <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="end stretch">
      <!-- <div style="vertical-align:middle"><b>Item UPC:</b></div> -->
      <div fxFlex="3 3 calc(15em +20px)" fxflex.sm="3 3 calc(15em +20px)" fxflex.xs="0 1 100%">
        <mat-form-field appearance="outline">
          <mat-label>UPC</mat-label>
          <input matInput appearance="outline" formControlName="itemupc" formGroupName="itemupc" maxlength="12">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="start stretch" fxLayoutGap="0.5%">
      <!-- <div fxFlex=40% fxFlexAlign="left" fxLayoutAlign="end stretch"><b>Item Description:</b></div> -->
      <div fxFlex="3 3 calc(15em +20px)" fxflex.sm="3 3 calc(15em +20px)" fxflex.xs="0 1 100%">
        <mat-form-field appearance="outline">
          <mat-label>Item Description</mat-label>
          <textarea matInput formControlName="itemdescription" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            formGroupName="itemdescription" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" cols="10"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="start stretch" fxLayoutGap="0.5%">
      <!-- <div fxFlex=40% fxFlexAlign="left" fxLayoutAlign="end stretch"><b>Item {{ variable | uppercase }}:</b></div> -->
      <div fxFlex="3 3 calc(15em +20px)" fxflex.sm="3 3 calc(15em +20px)" fxflex.xs="0 1 100%">
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput appearance="outline" formControlName="price" formGroupName="price" (keyup)="convertCurrency$.next($event.target.value)">
        </mat-form-field>
      </div>
    </div>
    <div style="height:20px">&nbsp;</div>
  </div>
  <div class="buttons" fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch ">
    <div fxFlex=100% fxLayoutAlign="end stretch">
      <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">Save</button>&nbsp;
        <button mat-raised-button (click)="deleteProd('product?._id')" [disabled]="!productForm.valid">Delete</button>&nbsp;
        <button mat-raised-button mat-dialog-close>Back</button>
      </mat-dialog-actions>
    </div>
  </div>
  <div style="height: 25px">&nbsp;</div>
  <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start center">
    <div class="errorMsg" fxflex="0 1 100%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%" *ngIf="itemupc.errors?.minlength && itemupc.touched">UPC
      must be 12 characters.</div>
  </div>
  <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
    <div class="errorMsg" fxflex="0 1 100%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%" *ngIf="itemupc.errors?.required && itemupc.touched">UPC
      is required.</div>
  </div>
  <div class="errorMsg" fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
    <div fxflex="0 1 100%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%" *ngIf="itemupc.errors?.upcnum && itemupc.dirty">Please
      enter a valid UPC</div>
  </div>
  <div class="errorMsg" fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch">
    <div fxflex="0 1 100%" fxflex.sm="0 1 100%" fxflex.xs="0 1 100%" *ngIf="price.errors?.upcnum && price.dirty">Please
      enter a item price</div>
  </div>
</form>
