<!-- <mat-grid-list [cols]="2" rowHeight="100px">
    <mat-grid-tile name="BudgetStartDate">{{budgetDetails?.BudgetStartDate|date:shortDate}}
    </mat-grid-tile> -->
<div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-grid-list cols="3" rowHeight="200px">
        <mat-grid-tile fxFlex="25" fxFlex.xs="100"></mat-grid-tile>
        <mat-grid-tile fxFlex="50" fxFlex.xs="100">
            Start Date: {{budgetDetails?.BudgetStartDate|date:shortDate}}
        </mat-grid-tile>
        <mat-grid-tile fxFlex="25" fxFlex.xs="100"></mat-grid-tile>

    </mat-grid-list>
</div>