<div style="height: 25px;">&nbsp;</div>
<div>
    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
        <div fxFlex=50% fxFlexAlign="left" fxLayoutAlign="end stretch"><b>Budget Dates:</b>
        </div>
        <div fxFlex=50% fxFlexAlign="left" fxLayoutAlign="start stretch">{{budgetDetails?.BudgetStartDate|date:shortDate}} to {{budgetDetails?.BudgetEndDate|date:shortDate}}</div>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="start stretch" fxLayoutGap="0.5%">
        <div fxFlex=50% fxFlexAlign="left" fxLayoutAlign="end stretch"><b>Days Left in Budget:</b></div>
        <div fxFlex=50% fxFlexAlign="left">{{findDiff(budgetDetails)}}</div>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="start stretch" fxLayoutGap="0.5%">
        <div fxFlex=50% fxFlexAlign="left" fxLayoutAlign="end stretch"><b>Budget Amount:</b></div>
        <div fxFlex=50% fxFlexAlign="left">{{budgetDetails?.BudgetAmount|currency:'USD':'symbol':'1.2-2'}}
        </div>
    </div>

    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="start stretch" fxLayoutGap="0.5%">
        <div fxFlex=50% fxFlexAlign="left" fxLayoutAlign="end stretch"><b>Budget Status:</b></div>
        <div fxFlex=50% fxFlexAlign="left">{{budgetDetails?.BudgetStatus}}</div>
    </div>

    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="start stretch" fxLayoutGap="0.5%">
        <div fxFlex=50% fxFlexAlign="left" fxLayoutAlign="end stretch"><b>Budget Type:</b></div>
        <div fxFlex=50% fxFlexAlign="left">{{budgetDetails?.BudgetType}}</div>
    </div>
    <div style="height: 25px;">&nbsp;</div>
</div>
<div class="transactioncontainter">
    <hr style="height:3px;border:none;color:#333;background-color:#333;">
    <h3>Transactions</h3>
    <div style="height:20px"></div>
</div>

<div class="transactioncontainter">
    <div *ngIf="hasTransactions">
        <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutWrap fxLayoutAlign="start stretch" style="background-color:lightblue">
            <div fxFlex=20% fxFlexAlign="left" fxLayoutAlign="left stretch" fxFlexOffset="50px">Transaction Date</div>
            <div fxFlex=20% fxFlexAlign=" left " fxLayoutAlign="left stretch ">UPC</div>
            <div fxFlex=20% fxFlexAlign="left " fxLayoutAlign="left stretch ">Amount</div>
            <div fxFlex=20% fxFlexAlign="left " fxLayoutAlign="left stretch ">Item Description</div>
            <div fxFlex=20% fxFlexAlign="left " fxLayoutAlign="left stretch ">Store</div>
        </div>
        <div fxLayout=row fxLayout.xs="row " fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch " *ngFor="let trans of budgetDetails.Transactions ">
            <div fxFlex=20% fxFlexAlign="left " fxLayoutAlign="left stretch " fxFlexOffset="50px ">
                {{trans.transdate|date:shortDate}}
            </div>
            <div fxFlex=20% fxFlexAlign="left " fxLayoutAlign="left stretch ">
                {{trans.upc}}
            </div>
            <div fxFlex=20% fxFlexAlign="left " fxLayoutAlign="left stretch ">
                {{trans.itemprice}}
            </div>
            <div fxFlex=20% fxFlexAlign="left " fxLayoutAlign="left stretch ">
                {{trans.itemdescription}}
            </div>
            <div fxFlex=20% fxFlexAlign="left " fxLayoutAlign="left stretch ">
                {{trans.store}}
            </div>
        </div>
    </div>
    <div style="height: 25px;">&nbsp;</div>
    <div class="transactioncontainter" *ngIf="!hasTransactions">
        <h3>There are no transactions for this budget.</h3>
    </div>
    <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch ">
        <div fxFlex=80% fxLayoutAlign="end stretch">Budget Amount:</div>
        <div fxFlex=20% fxFlexAlign="left" fxLayoutAlign="start stretch">{{budgetDetails?.BudgetAmount|currency:'USD':'symbol':'1.2-2'}}</div>
    </div>
    <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch ">
        <div fxFlex=80% fxLayoutAlign="end stretch">Transaction Total:</div>
        <div fxFlex=20% fxFlexAlign="left" fxLayoutAlign="start stretch">{{budgetDetails?.Transactions|itempricesum:'itemprice'|currency:'USD':'symbol':'1.2-2'}}</div>
    </div>
    <div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch ">
        <div fxFlex=80% fxLayoutAlign="end stretch">Remaining Budget Amount:</div>
        <div fxFlex=20% fxFlexAlign="left" fxLayoutAlign="start stretch">{{budgetDetails?.BudgetAmount-(budgetDetails?.Transactions|itempricesum:'itemprice')|currency:'USD':'symbol':'1.2-2'}}</div>
    </div>
</div>
<div style="height: 25px;">&nbsp;</div>
<div fxLayout=row fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5% " fxLayoutWrap fxLayoutAlign="start stretch ">
    <div fxFlex=90% fxLayoutAlign="end stretch">
        <button mat-raised-button (click)="newTransaction('/newtransaction','budgetDetails?._id')" color="primary">Create New
      Transaction</button>&nbsp;
        <button mat-raised-button (click)="GoBack()" color="primary">Back</button>&nbsp;
    </div>
</div>