<div class="container">

    <mat-card class="example-card inputbox">
        <mat-card-header>
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="loginform" (ngSubmit)="login()">
                <table class="example-full-width">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <!-- <input type="text" matInput placeholder="Email Address" [(ngModel)]="credentials.email" name="email" required> -->
                                <input matInput placeholder="Email Address" formGroupName="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && email.errors }">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <!-- <input type="password" matInput placeholder="Password" [(ngModel)]="credentials.password" name="password" required> -->
                                <input type="password" matInput placeholder="Password" formGroupName="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && password.errors }">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="lead">Not a member? Please <a routerLink="/register">register</a> instead.</p>
                        </td>
                    </tr>
                </table>

            </form>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary" [disabled]="!loginform.valid">Login</button>
        </mat-card-actions>
        <div>{{message}}</div>
        <div class="errorMsg" *ngIf="email.errors?.required && email.touched">Email address is required</div>
        <div class="errorMsg" *ngIf="email.errors?.email">Email address is not valid.</div>
        <div class="errorMsg" *ngIf="password.errors?.required && password.touched">Password is required</div>
    </mat-card>

</div>